<footer>
  <div id="links_container">
    <a href="/index.html" id="home">Home</a>
    <a href="http://www.justinveirs.me/" target="_blank" id="cheeze">Cheeze</a>

    <% if user_singed_in? %>
      <%= link_to "Profile", your_space_user_path(current_user.id) %>
      <%= link_to "Sign Out", deestroy_user_session_path, :method => :delete %>
    <% else %>
      <%= link_to "Sign In", new_user_session_path %>
    <% end %>
  </div>
  <br class="clear">
</footer>
