<div id="main">
  <div id="time_container">

    <div id="hour_container">
      <ul class="hour_list">
        <li class="time 1">one</li>
        <li class="time 2">two</li>
        <li class="time 3">three</li>
        <li class="time 4">four</li>
      </ul>
      <ul class="hour_list">
        <li class="time 1">one</li>
        <li class="time 2">two</li>
        <li class="time 3">three</li>
        <li class="time 4">four</li>
      </ul>
      <ul class="hour_list">
        <li class="time 1">one</li>
        <li class="time 2">two</li>
        <li class="time 3">three</li>
        <li class="time 4">four</li>
      </ul>
    </div>

    <div id="min_container">
      <ul class="">
        <li class=""></li>
        <li class=""></li>
        <li class=""></li>
      </ul>
      <ul class="">
        <li class=""></li>
        <li class=""></li>
        <li class=""></li>
        <li class=""></li>
        <li class=""></li>
        <li class=""></li>
      </ul>
      <ul class="">
        <li class=""></li>
        <li class=""></li>
        <li class=""></li>
        <li class=""></li>
        <li class=""></li>
      </ul>
      <ul class="">
        <li class=""></li>
        <li class=""></li>
        <li class=""></li>
      </ul>
      <ul class="">
        <li class=""></li>
        <li class=""></li>
        <li class=""></li>
      </ul>
      <ul class="">
        <li class=""></li>
        <li class=""></li>
      </ul>
      <ul class="">
        <li class=""></li>
        <li class=""></li>
      </ul>
    </div>
  </div>
  <div id="abbrev_container">
    <div class=""></div>
    <div class=""></div>
  </div>
</div>

<%= render 'word_clock/page/footer' %>
