<header>
  <div id="logo"><%= link_to "Your Space", your_space_user_path %></div>

  <div id="links_container">
    <a href="/index.html" id="home">Home</a>
    <a href="http://www.justinveirs.me/">Cheeze</a>

    <% if user_sign_in? %>
      <% link_to "Sign Out", destroy_user_session_path, method: => :delete  %>
    <% else %>
      <% link_to "Sign In", new_user_session_path %>
    <% end %>
  </div>
  <br class="clear">
</header>
