<div class="container" id="container1">
  <h1 class="holler">Yo!</h1>
  <p class="holler1">
    I'm Cheeze, and I am going to attempt coding up 180 websites in one year.<br />
    You can also check out some of my work at <a href="http://www.justinveirs.me/" target="_blank" class="holler2">
      Cheezedigital</a>
    </p>
    <hr class="holler3">
    <div class="website_list_container">
      <div class="your_space" target="_blank"><%= link_to "Your Space", your_space_users_path %></div>
      <div class="word_cloud" target="_blank"><%= link_to "Word Cloud", word_cloud_words_path %></div>
      <div class="work_clock" target="_blank"><%= link_to "Word Clock", word_clock_page_index_path %></div>
    </div>
</div>
