.holler {
  padding-top: 50px;
  font-size: 100px;
}
.holler1 {
  font-size: 30px;
}
.holler2 {
  color: aqua;
}
a:hover {
  text-decoration: none;
  color: aqua;
}
.holler3 {
  border-width: 2px;
  border-color: #00FF00;
}
.website_list_container {
  font-size: 25px;
  color: #4f4f4f;
}
